body {
  font-size: 20px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

section h2 {
    margin: 20px;
    text-align: center;
}

section p {
    margin: 20px 0;
}

footer {
    clear: both;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-container > div {
    padding: 1em 1em;
}

@media all and (max-width: 736px) {
    aside {
        display: none;
    }
    
    section {
        width: 100%;
    }
}

@media all and (min-width: 736px) {
    aside {
        width: 19%;
        float: left;
    }
    
    section {
        width: 79%;
        float: right;
    }
    
    .map {
        float: left;
        padding: 1em;
    }

    .openHour {
        float: right;
        padding: 1em;
    }
}